.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 768px) {
  .container {
    height: 105vh;
    max-width: 800px;
    padding: 0.75rem 2rem;
  }

  .container section {
    grid-template-columns: 1fr 1fr;
    margin-top: 1.4rem;
  }
}

@media (max-width: 670px) {
  .container {
    height: 120vh;
    max-width: 420px;
    padding: 1rem 2rem;
  }

  .container section {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 320px) {
  .container {
    height: 120vh;
    max-width: 320px;
    padding: 1rem 1rem;
  }

  .container section {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
