.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    max-width: 800px;
    padding: 0.75rem 2rem;
  }

  .container section {
    margin-top: 1.4rem;
  }
}
